
body {
    margin-bottom: 100px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

#chat-mensajes {
    height: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow-y: scroll;
}
#map {
    height: 450px;
    width: 100%;
}

.chat-input {
    margin-top: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}
table {
    width: 100%;
    height: 100%;
    text-align: center;
}

.ticket-actual {
    background-color: #282828;
    color: #fff
}

.ticket-actual-numero {
    font-size: 40px;
    color: #fff
}

.ticket-actual-escritorio {
    font-size: 35px;
}

.ticket-secundario {
    font-size: 25px;
}


/* Nuevo-ticket */

#lblNuevoTicket {
    font-size: 70px;
}